
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


/* variavel de cores*/
:root {

    --background-color: #ffffff;

    --fundo-menu-lateral: #4d5a2f;
    --fundo-claro: #ffffff;
    --fundo-escuro: #4a6d40;

    --borda-clara: #ffffff;
    --borda-escura: #75be7d;

    --texto-escuro: #161616;
    --texto-claro: #425442;
    --texto-branco: #ecf8ff;
    --texto-hover: #a6e7a6;
    --texto-opaco: #fbfbfb;

    --cor-detalhes: #ededee;

    --texto-titulo-claro: #81dc4c;
    --texto-titulo-escuro: #ffffff;

    --sombra-clara: rgba(255, 255, 255, 0.772);
    --sombra-escura: rgba(31, 31, 31, 0.1);
    --section-clara:#fdfdfdd7;
    --section-escura:#242e21;
}

/* CSS GERAL */
body{
   font-family: "roboto", sans-serif;
   color: var(--texto-claro);
   background-color: var(--fundo-claro);
}

/* cabeçalho*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    padding: 0 15px;
    overflow-y: auto;
    z-index: 99;
    transition: all ease-in-out 0.5s;
}


#header .perfil img{
    margin: 15px auto;
    display: block;
}
#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);

    
}
.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--background-color);
    line-height: 1;
    padding: 8px 0;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--texto-escuro);
   

}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: var(--background-color);
    color: rgb(27, 140, 10);
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}
a{
    text-decoration: none;
}
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--fundo-escuro);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}
.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/* Ajuste para o corpo do conteudo */

/*  menu responsivo */
@media (max-width: 1199px) {
    #header{
        left: -300px;
    }
    #main{
        margin-left: 0;

    }
    .container{
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* menu header */
.nav-menu{
    padding: 30px 0 0 0;
}

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a, 
.nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a{
    text-decoration: none;
    color: var(--borda-escura);
}

.nav-menu a:hover i,
.nav-menu .active i ,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--texto-titulo-claro);
    font-weight: 600;
}
/* hero */
#hero{
width: 100%;
height: 100vh; /* VIEW PORT HEIGHT */
background: url(/img/tema2.jpg) top;
background-size: cover;
position: relative;

}
#hero::before{
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(34, 33, 33, 0.5);
}
#hero .hero-container{
    z-index: 3;
    position: relative;
    min-width: 300px;
    
}
#hero h2{
    margin: 0;
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
    font-family: Sofia ;
    color: var(--section-escura);
}
#hero p{
    color: #345e2d;
margin-top: 15px;
margin-bottom: 50px;
font-size: 26px;
}

#hero p span{
    color: #ffffffaa;
    padding-bottom: 4px;
letter-spacing: 2px;
border-bottom: 3px solid #2b4322;

}

@media(min-width:1024px){
#hero{
    background-attachment: fixed;

}

}

@media(max-width:1024){
    #hero{
        background-attachment: fixed;
    }
}
@media(max-width:768px){
    #hero h2{
        font-size: 90px;
        line-height: 1;
        margin-bottom: 45px;
    }
    #hero p{
        font-size: 28px;
    }
}


/* estrutura base -corpo */
#main{
    margin-left: 300px;

}

.container{
    padding-left: 30px;
    padding-right: 30px;

}
section{
    padding: 60px 0;
    overflow: hidden;
    background: var(--section-clara);
}
.section-bg{
    background:var(--section-escura);
    color: var(--texto-claro);
}
/* estrutura do titulo seção */
.section-title{
    padding-bottom: 30px;
}
.section-title h2{
    color: var(--section-escura);
    font-weight: 600;
margin-bottom: 20px;
padding-bottom: 20px;
position: relative;
font-family: Poetsen One;
}

.section-title h2::after{
    content: "";
    position: absolute;
    background: var(--section-escura);
    width: 150px;
    height: 3px;
    display: block;    /*deixa a linha abaixo do texto */
    bottom: 0;
    left: 0;
    
} 

.section-title p{
    margin-bottom: 0;

}
/* sobre */
.sobre .content h3{
color: var(--section-escura);
font-weight: 700;
font-size: 23px;
font-family: Poetsen One;
}
 
.sobre .content ul{
    list-style: none;
    padding: 0;
}
.sobre .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sobre .content ul strong {
    margin-right: 5px;
    font-weight: 600;
    /* letter-spacing: .5px; */
    font-family: "Poppins", sans-serif;
}

.sobre .content ul i {
    color: var(--fundo-menu-lateral);
    margin-right: 10px;
    font-size: 20px;
}


/* conquistas// vendas */

.conquistas{
padding-bottom: 30px;
}
.conquistas .count-box{
    padding: 30px;
    width: 100%;
}
.conquistas .count-box i{
color: var(--fundo-menu-lateral);
font-size: 40px;
display: block;
float: left;
/* line-height: ; */

}

.conquistas .count-box span{
    font-size: 30px;
    color: var(--borda-escura);
display: block;
line-height: 40px;
font-weight: 700;
margin-left: 60px;
}

.conquistas .count-box p{
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    color: var(--borda-escura );
}
.conquistas .count-box strong{
font-weight: 800;

}
.conquistas .count-box i:hover, 
.conquistas .count-box span:hover{
    color: var(--fundo-escuro);
    transition: ease-in-out .5s;
}