
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');




/* variavel de cores*/
:root {

    --background-color: #ffffff;

    --fundo-menu-lateral: #c27546;
    --fundo-claro: #ffffff;
    --fundo-escuro: #c27546;

    --borda-clara: #ffffff;
    --borda-escura: #70441f;

    --texto-escuro: #161616;
    --texto-claro: #000000;
    --texto-branco: #ecf8ff;
    --texto-hover: #a15221;
    --texto-opaco: #fbfbfb;

    --cor-detalhes: #ededee;

    --texto-titulo-claro: #c27546;
    --texto-titulo-escuro: #ffffff;

    --sombra-clara: rgba(255, 255, 255, 1);
    --sombra-escura: rgba(31, 31, 31, 0.1);
}

/* CSS GERAL */
body{
   font-family: "roboto", sans-serif;
   color: var(--texto-claro);
   background-color: var(--fundo-claro);
}

/* cabeçalho*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    padding: 0 15px;
    overflow-y: auto;
    z-index: 99;
    transition: all ease-in-out 0.5s;
}


#header .perfil img{
    margin: 15px auto;
    display: block;
}
#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);

    
}
.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--background-color);
    line-height: 1;
    padding: 8px 0;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--texto-escuro);
   

}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: var(--background-color);
    color: rgb(140, 60, 10);
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}
a{
    text-decoration: none;
}
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--fundo-escuro);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}
.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/* Ajuste para o corpo do conteudo */

/*  menu responsivo */
@media (max-width: 1199px) {
    #header{
        left: -300px;
    }
}

/* menu header */
.nav-menu{
    padding: 30px 0 0 0;
}

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a, 
.nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a{
    text-decoration: none;
    color: var(--borda-escura);
}

.nav-menu a:hover i,
.nav-menu .active i ,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--texto-claro);
    font-weight: 600;
}
/* hero */
#hero{
width: 100%;
height: 100vh; /* VIEW PORT HEIGHT */
background: url(/img/fundo\ site.webp) top;
background-size: cover;
position: relative;

}
#hero::before{
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(31, 31, 31, 0.5);
}
#hero .hero-container{
    z-index: 3;
    position: relative;
    min-width: 300px;
    
}
#hero h2{
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    font-family: Lilita one ;
}
#hero p{
    color: #c4824c8b;
margin-top: 15px;
margin-bottom: 50px;
font-size: 26px;
}

#hero p span{
    color: #ffffffaa;
    padding-bottom: 4px;
letter-spacing: 2px;
border-bottom: 3px solid #c27546;
}